@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@utility bg-glass {
  background: linear-gradient(180deg, rgba(240, 240, 240, 0.4) 0%, rgba(220, 220, 220, 0.5) 100%);
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.36);
}